<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Coctails</title>
</head>
<body>

<% if (true) { %>
Ez most latszik
<% } %>

<h1>Cocktails</h1>

<ul>
  <li>all</li>
  <% for(let i = 0; i < alcoholList.length; i++) { %>
    <li><%= alcoholList[i] %></li>
    <% } %>
</ul>

<% let filter = alcoholList[1]; %>

<% let filteredCocktails = cocktails.filter(cocktail => cocktail.contains.includes(filter)); %>

<ul>
  <% for(let i = 0; i < filteredCocktails.length; i++) { %>
    <li><%= filteredCocktails[i].name %></li>
    <% } %>
</ul>

</body>
</html>
